main {
        background-image: url('../img/img-login.jpg');
        background-size: cover;
        background-position: 30%;
        background-repeat: no-repeat;
        min-height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }



    

    /* ----------------- MEDIA QUERY PARA TELAS MAIORES (Ex: > 768px) ----------------- */

    @media screen and (min-width: 860px) {
        main {
        background-position: center;
        
    }
    }