main {
    background-image: url('../img/img-login.jpg');
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 96px;

}

.links-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-login label {
    align-items: start;
}

.btn {

    width: 40%;
    margin: 15px 15px;
}

/* ----------------- MEDIA QUERY PARA TELAS MAIORES (Ex: > 768px) ----------------- */

@media screen and (min-width: 860px) {
    main {
        background-position: center;
        justify-content: flex-end;
        padding-right: 50px;
    }

    form {
        width: 500px;
    }
}