<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kracht</title>
    <!-- css slich -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" href="src/CSS/slick-theme.css">

    <!-- css geral - header, footer, estilos e cores base -->
    <link rel="stylesheet" href="src/css/style.css">
    <!-- css especifico da página index.html -->
    <link rel="stylesheet" href="src/css/index.css">
    <!-- icone da aba -->
    <link rel="shortcut icon" href="src/img/kracht-icone.png" type="image/x-icon">
</head>

<body>
    <div class="div-principal">
        <!-- INICIO CABECALHO -->
        <header>
            <!-- INICIO NAV -->
            <nav class="nav">
                <!-- MENU DROPDOWN TELAS MENORES -->
                <div class="dropdown">
                    <button id="meuBotao" class="botao-dropdown"><img class="icone" src="src/img/icone-menu.svg"
                            alt="icone com tres barras laranja representando um menu"></button>
                    <div id="meuDropdown" class="conteudo-dropdown">
                        <!-- LINKS -->
                        <ul class="links-nav-mobile">
                            <li class="link-li"><a href="#">Bicicletas</a></li>
                            <li class="link-li"><a href="#">Roupas</a></li>
                            <li class="link-li"><a href="#">Acessórios</a></li>
                            <li class="link-li"><a href="#">Sobre Nós</a></li>
                            <li class="link-li"><a href="#">Contato</a></li>
                        </ul>

                        <div class="logo-link">
                            <a class="logo" href="#">
                                <ion-icon class="icone-link" name="log-in-outline"></ion-icon>Entrar
                            </a>
                        </div>
                    </div>
                </div>

                <!-- MENU TELAS GRANDES -->
                <div class="links-nav-desktop logo-link">
                    <a class="logo" href="#">
                        <ion-icon class="icone-link" name="log-in-outline"></ion-icon>Entrar
                    </a>
                </div>

                <ul class="links-nav-desktop">
                    <li class="link-li"><a href="#">Bicicletas</a></li>
                    <li class="link-li"><a href="#">Roupas</a></li>
                    <li class="link-li"><a href="#">Acessórios</a></li>
                    <li class="link-li"><a href="#">Sobre Nós</a></li>
                    <li class="link-li"><a href="#">Contato</a></li>
                </ul>
                <!-- LOGO -->
                <div class="">
                    <a href="index.html" class="logo"><img src="src/img/kracht-icone.png"
                            alt="icone de um homem pedalando com o fundo laranja" class="icone-logo">
                        <h1>Kracht</h1>
                    </a>
                </div>
            </nav>
            <!-- FIM NAV -->
        </header>
        <!-- FIM CABECALHO -->
        <!-- INICIO SECAO PRINCIPAL -->
        <main>
            <!-- CAROUSEL DE NOVOS PRODUTOS -->
            <section class="carousel-info-bike">
                <!-- carousel 0 -->
                <article>
                    <img src="src/img/img-carousel-0.jpeg" alt="">
                    <div class="artigo-info-bike">
                        <div class="fundo-info-bike">
                            <h2>Shiv TT - A Bike do homem Mais Rápido do Mundo</h2>
                            <p>As bicicletas de contra-relógio (TT) evoluíram: antes, eram pesadas, com aerofólios finos
                                e frenagem fraca. Com percursos mais técnicos, as necessidades mudaram. A nova Shiv TT
                                da Specialized maximiza os limites dos regulamentos da UCI, agora com freios a disco,
                                menor peso e maior ajustabilidade, mantendo a aerodinâmica para continuar conquistando
                                medalhas. O módulo de disco S-Works Shiv TT oferece a base ideal para montar a bicicleta
                                de TT dos sonhos.</p>
                            <a href="#" class="btn-ativo btn">Saiba mais</a>
                        </div>
                    </div>
                </article>
                <!-- carousel 1 -->
                <article>
                    <img src="src/img/img-carousel-1.jpg" alt="">
                    <div class="artigo-info-bike">
                        <div class="fundo-info-bike">
                            <h2>Aspect - A bicicleta rígida de montanha super leve</h2>
                            <p>A SCOTT Aspect 910 é uma bicicleta rígida de montanha que foi desenvolvida para ser leve,
                                eficiente e acessível. Equipada com um mecanismo de bloqueio remoto para a suspensão,
                                travões de disco Shimano e componentes Syncros, esta bicicleta é perfeita para
                                iniciantes ou
                                ciclistas com um orçamento consciente.</p>
                            <a href="cadastro.html" class="btn-ativo btn">Saiba mais</a>
                        </div>
                    </div>
                </article>
                <!-- carousel 2 -->
                <article>
                    <img src="src/img/img-carousel-2.jpg" alt="">
                    <div class="artigo-info-bike">
                        <div class="fundo-info-bike">
                            <h2>Bicicleta SCOTT Voltage eRIDE 900 Tuned</h2>
                            <p>Imagina dar à melhor bicicleta de trail do mundo uma arma secreta. Com a Voltage eRIDE,
                                foi
                                exatamente isso que fizemos. Concebida para os atuais entusiastas de BTT que anseiam por
                                uma
                                bicicleta de trail ágil, leve e capaz, com a adição de um motor compacto e silencioso, a
                                nova Voltage eRIDE sobrepõe-se aos trilhos... um atrás do outro. </p>
                            <a href="cadastro.html" class="btn-ativo btn">Saiba mais</a>
                        </div>
                    </div>
                </article>
                <!-- carousel 3 -->
                <article>
                    <img src="src/img/img-carousel-3.jpg" alt="">
                    <div class="artigo-info-bike">
                        <div class="fundo-info-bike">
                            <h2>Nunca a Speedster esteve tão leve e estilosa</h2>
                            <p>Imagina dar à melhor bicicleta de trail do mundo uma arma secreta. Com a Voltage eRIDE,
                                foi
                                exatamente isso que fizemos. Concebida para os atuais entusiastas de BTT que anseiam por
                                uma
                                bicicleta de trail ágil, leve e capaz, com a adição de um motor compacto e silencioso, a
                                nova Voltage eRIDE sobrepõe-se aos trilhos... um atrás do outro. </p>
                            <a href="cadastro.html" class="btn-ativo btn">Saiba mais</a>
                        </div>
                    </div>
                </article>
            </section>

             <!-- CAROUSEL DE CARDS COM BICICLETAS -->
            <h2 class="titulo-cards">Bicicletas</h2>
            <section class="carousel-bikes">

                <!-- CARD 0 -->
                <a href="http://">
                    <figure class="div-img-bike">
                        <img src="src/img/img-bike-0.jpeg" alt="imagem bicicleta mtb verde" class="img-bike">
                        <h3>Bicicleta SCOTT Spark 900 Ultimate TR</h3>
                        <span class="secao-valor">
                            <span>R$ 59.000</span>
                        </span>
                    </figure>
                </a>
                <!-- CARD 1 -->
                <a href="http://">
                    <figure class="div-img-bike">
                        <img src="src/img/img-bike-1.jpeg" alt="imagem bicicleta mtb amarela" class="img-bike">
                        <h3>Bicicleta SCOTT Roxter YZ 0.1</h3>
                        <span class="secao-valor">
                            <span>R$ 6.300</span>
                        </span>
                    </figure>
                </a>
                <!-- CARD 2 -->
                <a href="http://">
                    <figure class="div-img-bike">
                        <img src="src/img/img-bike-2.jpeg" alt="imagem bicicleta estrada preta e azul" class="img-bike">
                        <h3>Bicicleta SCOTT Plasma RC Ultimate</h3>
                        <span class="secao-valor">
                            <span>R$ 15.999</span>
                        </span>
                    </figure>
                </a>
                <!-- CARD 3 -->
                <a href="http://">
                    <figure class="div-img-bike">
                        <img src="src/img/img-bike-3.jpeg" alt="imagem bicicleta gravel preta" class="img-bike">
                        <h3>Bicicleta SCOTT Speedster 10</h3>
                        <span class="secao-valor">
                            <span>R$ 13.000</span>
                        </span>
                    </figure>
                </a>
                <!-- CARD 4 -->
                <a href="http://">
                    <figure class="div-img-bike">
                        <img src="src/img/img-bike-4.jpeg" alt="imagem bicicleta urbana azul petroleo" class="img-bike">
                        <h3>Bicicleta SCOTT Sub Cross 40 Lady</h3>
                        <span class="secao-valor">
                            <span>R$ 4.500</span>
                        </span>
                    </figure>
                </a>
            </section>


                        <!-- CAROUSEL DE CARDS COM ROUPAS E ACESSÓRIOS -->
            <h2 class="titulo-cards">Roupas e acessórios</h2>
            <section class="carousel-roupas">
                <!-- CARD 0 -->
                <a href="http://">
                    <figure class="div-img-roupas">
                        <img src="src/img/img-produto-0.jpg" alt="imagem camiseta feminina ciclismo azul"
                            class="img-roupas">
                        <h3>Merida CX Women</h3>
                        <span class="secao-valor">
                            <span>R$ 350</span>
                        </span>
                    </figure>
                </a>
                <!-- CARD 1 -->
                <a href="http://">
                    <figure class="div-img-roupas">
                        <img src="src/img/img-produto-1.jpg" alt="imagem camiseta masculina ciclismo vermelha"
                            class="img-roupas">
                        <h3>Merida STRIPE Racecut</h3>
                        <span class="secao-valor">
                            <span>R$ 450</span>
                        </span>
                    </figure>
                </a>
                <!-- CARD 2 -->
                <a href="http://">
                    <figure class="div-img-roupas">
                        <img src="src/img/img-produto-2.jpg" alt="imagem capacete ciclismo preta e azul"
                            class="img-roupas">
                        <h3>Merida CHARGER Helmet</h3>
                        <span class="secao-valor">
                            <span>R$ 259</span>
                        </span>
                    </figure>
                </a>
                <!-- CARD 3 -->
                <a href="http://">
                    <figure class="div-img-roupas">
                        <img src="src/img/img-produto-3.jpg" alt="imagem oculos ciclismo laranja e preto"
                            class="img-roupas">
                        <h3>Merida PRO RACE Sunglasses</h3>
                        <span class="secao-valor">
                            <span>R$ 1250</span>
                        </span>
                    </figure>
                </a>
                <!-- CARD 4 -->
                <a href="http://">
                    <figure class="div-img-roupas">
                        <img src="src/img/img-produto-4.jpeg" alt="imagem tenis de cilcismo preto" class="img-roupas">
                        <h3>Merida COMP Shoe MTB</h3>
                        <span class="secao-valor">

                            <span>R$ 500</span>
                        </span>
                    </figure>
                </a>
            </section>






                       


        </main>
        <!-- FIM SECAO PRINCIPAL -->
        <!-- INICIO RODAPÉ -->
        <footer>
            <!-- SEÇÃO SUPERIOR DO FOOTER -->
            <section class="secao-superior-footer">
                <!-- INICIO SEÇÃO LOGO E REDES -->
                <div class="div-logo-rodape">
                    <!-- LOGO -->
                    <div class="">
                        <a href="index.html" class="logo"><img src="src/img/kracht-icone.png"
                                alt="icone de um homem pedalando com o fundo laranja" class="icone-logo">
                            <h1>Kracht</h1>
                        </a>
                    </div>
                    <!-- ICONES -->
                    <div class="icones-redes">
                        <ul class="icone-links-ul">
                            <li class="icone-links-li">
                                <a href="https://github.com/fortesvitoria/kracht">
                                    <ion-icon class="icone-link" name="logo-github"></ion-icon>
                                </a>
                            </li>
                            <li class="icone-links-li">
                                <a href="https://facebook.com">
                                    <ion-icon class="icone-link" name="logo-facebook"></ion-icon>
                                </a>
                            </li>
                            <li class="icone-links-li">
                                <a href="https://instagram.com">
                                    <ion-icon class="icone-link" name="logo-instagram"></ion-icon>
                                </a>
                            </li>
                            <li class="icone-links-li">
                                <a href="https://youtube.com">
                                    <ion-icon class="icone-link" name="logo-youtube"></ion-icon>
                                </a>
                            </li>
                            <li class="icone-links-li">
                                <a href="https://tiktok.com">
                                    <ion-icon class="icone-link" name="logo-tiktok"></ion-icon>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- FIM SEÇÃO LOGO E REDES -->
                <!-- INICIO SEÇÃO LINKS-->
                <div class="hr"></div>
                <div class="links-footer">
                    <!-- COLUNA 1 -->
                    <ul class="coluna-links">
                        <li>
                            <p class="titulo-links">Loja</p>
                        </li>
                        <li class="link-li"><a class="link-footer">Bicicletas de estrada</a></li>
                        <li class="link-li"><a class="link-footer">Bicicletas de montanha</a></li>
                        <li class="link-li"><a class="link-footer">Bicicletas híbridas</a></li>
                        <li class="link-li"><a class="link-footer">Bicicletas masculinas</a></li>
                        <li class="link-li"><a class="link-footer">Bicicletas femininas</a></li>
                        <li class="link-li"><a class="link-footer">Equipamentos</a></li>
                        <li class="link-li"><a class="link-footer">Roupas</a></li>
                        <li class="link-li"><a class="link-footer">Acessórios</a></li>
                        <li class="link-li"><a class="link-footer">Encontre uma loja </a></li>
                    </ul>
                    <!-- COLUNA 2 -->
                    <ul class="coluna-links">
                        <li>
                            <p class="titulo-links">Suporte</p>
                        </li>
                        <li class="link-li"><a class="link-footer">Atendimento ao cliente</a></li>
                        <li class="link-li"><a class="link-footer">Entre em contato conosco</a></li>
                        <li class="link-li"><a class="link-footer">Inscrição para a newsletter</a></li>
                        <li class="link-li"><a class="link-footer">Garantia</a></li>
                        <li class="link-li"><a class="link-footer">Como comprar com segurança</a></li>
                        <li class="link-li"><a class="link-footer">Manuais e guias do usuário</a></li>
                        <li class="link-li"><a class="link-footer">Suporte ao produto</a></li>
                        <li class="link-li"><a class="link-footer">Guias de tamanhos e ajustes de roupas </a></li>
                    </ul>
                    <!-- COLUNA 3 -->
                    <ul class="coluna-links">
                        <li>
                            <p class="titulo-links">Privacidade e termos</p>
                        </li>
                        <li class="link-li"><a class="link-footer">Declaração de Privacidade</a></li>
                        <li class="link-li"><a class="link-footer">Termos e Condições</a></li>
                        <li class="link-li"><a class="link-footer">Notificação de Segurança</a></li>
                        <li class="link-li"><a class="link-footer">Política de Cookies</a></li>
                        <li class="link-li"><a class="link-footer"> Relatório de Transparência Salarial</a></li>
                    </ul>
                </div>
                <!-- FIM SEÇÃO LINKS-->
            </section>
            <div class="hr"></div>
            <!-- SEÇÃO INFERIOR DO FOOTER -->
            <div class="secao-inferior-footer">
                <div class="direitos-autorais">
                    <p>© Vitória Fortes 2025</p>
                </div>
                <div class="idioma">
                    <a href="#">
                        <p>Português/BR</p>
                        <img src="src/img/icone-brasil.png" alt="icone da bandeira do Brasil" class="icone-idioma">
                    </a>
                </div>
            </div>
        </footer>
        <!-- FIM RODAPÉ -->
    </div>
    <!-- SCRIPT IONICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- SCRIPTS SLICH -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- scirpts internos -->
    <script src="src/js/carousel.js"></script>
    <script src="src/js/dropDown.js"></script>


</body>

</html>