main {
    background-image: url('../img/img-login.jpg');
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 96px;

}

.links-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-login label {
    width: 90%;
    text-align: left;
}

.links-login a {
    width: 90%;
    text-align: left;
    display: block;
}

.links-login .check-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin-left: 15px;
}

.links-login .check-box input {
    width: auto;
    margin-right: 5px;
}

.btn {
    width: 90%;
    margin: 15px 15px;
}

/* ----------------- MEDIA QUERY PARA TELAS MAIORES (Ex: > 768px) ----------------- */

@media screen and (min-width: 860px) {
    main {
        background-position: center;
        justify-content: flex-end;
        padding-right: 10%;
    }

    form {
        width: 500px;
    }

    .btn-login {
        display: flex;
        flex-direction: row-reverse;
    }

    .btn {
        width: 40%;
    }
}